@import '../../../variables.scss';

.container {
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 1rem;
  height: 100%;
}

.bit-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem 0;
  background-color: $ddddddddddddd;
  overflow-y: scroll;
  border: 1px solid $ccccccccccccc;
  padding: 0.75rem;

  &::-webkit-scrollbar {
    display: none;
  }

  div {
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    user-select: none;
    /* Standard syntax */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    box-sizing: border-box;
    color: #ffffff;

    &:hover {
      filter: brightness(85%);
    }
  }
}

p {
  margin: 0;
}

.dot {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  div {
    background-color: $ddddddddddddd;
    overflow-y: scroll !important;
    border: 1px solid $ccccccccccccc;
    padding: 0.75rem;
    min-height: 170px;
    ul {
      margin: 0.5rem 0 ;
      max-height: 150px;
      overflow-y: scroll;
    }
  }
}

.selected {
  filter: brightness(65%);
  border-color: $ddddddddddddd;
}