@import '../../variables.scss';

.container {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 1rem;
  height: 100%;

  .container-item {
    background-color: $ddddddddddddd;
    overflow-y: scroll;
    position: relative;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid $ccccccccccccc;

    h2.header-float {
      position: fixed;
      background-color: $ddddddddddddd;
      padding-bottom: 0.5rem;
    }

    h2.header-float-holder {
      opacity: 0;
      padding-bottom: 0.5rem;
    }
  }
}

.inputs-list {
  margin: 0;
  padding: 0.1rem 0.5rem;
  display: grid;
  grid-template-columns: 1fr auto;
}

.game-state-buttons-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;

  button {
    margin: auto;
  }
}

.mock-input-buttons-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  button {
    margin: auto;
  }
}

h3 {
  padding: 0.5rem 0;
}