<div class="container">
  <h1>Configuraiton ({{bitsUsed}} bits used out of {{maxBits}})</h1>
  <div class="bit-container">
    <div class="bit" *ngFor="let bit of bitAllocations" (mouseenter)="onMouseEnter(bit)" (mouseleave)="onMouseLeave(bit)"
      (click)="onclick(bit)" [class.selected]="bit === click" [style.width]="bit.width" [style.background]="bit.color">
      {{bit.type}}
    </div>
  </div>
  <div class="dot">
    <div>
      <ng-container *ngIf="hover !== null">
        <p>
          <strong>Name:</strong>
          {{hover.name}}
        </p>
        <p>
          <strong>Data type</strong>
          {{hover.type}}
        </p>
        <p>
          <strong>Data size:</strong>
          {{hover.size}}-bits
        </p>
        <p>
          <strong>Chunk name start - end | index:</strong>
          {{hover.startName}} - {{hover.endName}} | {{hover.bitIndex}}
        </p>
        <p>
          <strong>Chunk range start - end index:</strong>
          {{hover.range.start}} - {{hover.range.end}}
        </p>
        <strong>Unity game object names:</strong>
        <ul>
          <li *ngFor="let on of hover.objectNames">{{on}}</li>
        </ul>
        <strong>Unity shader parameters:</strong>
        <ul>
          <li *ngFor="let sp of hover.shaderParameters">{{sp}}</li>
        </ul>
      </ng-container>
    </div>
    <div>
      <ng-container *ngIf="click !== null">
        <p>
          <strong>Name:</strong>
          {{click.name}}
        </p>
        <p>
          <strong>Data type</strong>
          {{click.type}}
        </p>
        <p>
          <strong>Data size:</strong>
          {{click.size}}-bits
        </p>
        <p>
          <strong>Chunk name start - end | index:</strong>
          {{click.startName}} - {{click.endName}} | {{click.bitIndex}}
        </p>
        <p>
          <strong>Chunk range start - end index:</strong>
          {{click.range.start}} - {{click.range.end}}
        </p>
        <strong>Unity game object names:</strong>
        <ul>
          <li *ngFor="let on of click.objectNames">{{on}}</li>
        </ul>
        <strong>Unity shader parameters:</strong>
        <ul>
          <li *ngFor="let sp of click.shaderParameters">{{sp}}</li>
        </ul>
      </ng-container>
    </div>
  </div>
</div>